body{
    background-image: url(../img/fundo-invertido.png);
    background-size: cover;
}
.conteudo{
    flex-direction: row-reverse;
}
.card{
    margin-left: 0%;
    margin-right: 10%;
}
#esqueceu{
    color: #094eff;
}
.esqueceu{
    margin-top: -30%;
}
.botao-card{
    margin-bottom: 10%;
}
.area-input{
    margin-bottom: 40%;
}