/* FONTES */

@font-face{
    font-family: 'codec-pro';
    src: url('../fonts/codec-pro.regular.ttf');
}

@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.ttf');
}

@font-face{
    font-family: 'LeagueSpartan';
    src: url('../fonts/LeagueSpartan.ttf');
}

/* VARIÁVEIS */

:root{
    /* COR PRINCIPAL */
    --main-color: #56b77e;

    /* COR BOTÕES */
    --button-color: #ff751f;
    --button-color-hover: #ff9e62;

    /* COR SOMBRA */
    --shadow-color: #0000004d;

    /* COR TEXTO */
    --text-main-color: #4a5a6a;
    --text-alt-color-1: #f1f1f1;
}

/* DEFAULTS */

body{
    margin: 0;
    padding: 0;
    background-color: #f9f7f2;
    font-family: 'codec-pro';
}

a{
    text-decoration: none;
}

button{
    font-family: 'codec-pro';
}

main{
    font-family: 'codec-pro';
    height: fit-content;
    width: 100%;
    color: var(--text-main-color);
}