/* FONTES */

@font-face{
    font-family: 'codec-pro';
    src: url('../fonts/codec-pro.regular.ttf');
}

@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.ttf');
}

@font-face{
    font-family: 'LeagueSpartan';
    src: url('../fonts/LeagueSpartan.ttf');
}

/* DEFAULTS */

body{
    margin: 0;
    padding: 0;
    background-color: #f9f7f2;
    font-family: 'codec-pro';
}

a{
    text-decoration: none;
}

main{
    font-family: 'codec-pro';
    height: fit-content;
    width: 100%;
    color: #4a5a6a;
}