/* MAIN */

main{
    font-family: 'codec-pro';
    height: fit-content;
    color: #4a5a6a;
}

.container{
    display: flex;
    margin: 30px 0 30px;
}

.image-card{
    width: 420px;
    border-radius: 25px;
    box-shadow: 0 3px 10px #0000004d;
}

.button{
    height: 55px;
    width: 250px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #ff751f;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 8px #0000004d;
}

.button:hover{
    background-color: #ff9e62;
}

/* BANNER */

.banner{
    height: 400px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    box-shadow: 5px 0 15px #0000004d;
}

.banner img{
    width: 100%;
}

/* 1 */

.main-section-1{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0 40px 0;
}

.main-section-1 h1{
    height: fit-content;
    width: 700px;
    text-align: center;
    font-weight: bold;
}

/* 2 */

.main-section-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0 40px 0;
}

.card{
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    padding: 20px;
    gap: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #56b77e;
    box-shadow: 0 3px 10px #0000004d;
}

.card span{
    width: 100%;
    color: #f1f1f1;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

/* 3 */

.main-section-3{
    display: flex;
    flex-direction: column;
}

.main-section-3-1{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.main-section-3-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 40px 0;
}

.logo-card{
    height: 420px;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56b77e;
    border-radius: 25px;
    box-shadow: 0 5px 10px #0000004d;
}

.main-section-3-2 h1{
    width: 450px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

/* 4 */

.main-section-4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 40px 0;
}

.main-section-4-1{
    height: 380px;
    background-image: url('../img/card01.jpg');
}

.main-section-4-2 h1{
    height: fit-content;
    width: 460px;
    line-height: 1.2;
    font-size: 40px;
    text-align: center;
}

/* 5 */

.main-section-5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 40px 0;
}

.main-section-5-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.main-section-5-1 h1{
    height: fit-content;
    width: 410px;
    line-height: 1.2;
    font-size: 40px;
    text-align: center;
}

.main-section-5-2{
    height: 500px;
    background-image: url('../img/card02.jpg');
}